.MovieList{
    width: 100%;
    height: max-content;
    padding: 30px 140px;
    padding-top: 120px;
}
.MovieList-header{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}
.MovieList-component{
    width: 100%;
    height: fit-content;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-bottom: 100px;
}
.MovieList-component::-webkit-scrollbar, 
.MovieList-component::-webkit-scrollbar-thumb, 
.MovieList-component::-webkit-scrollbar-track{
    display: none;
}
.MovieList-slide{
    display: flex;
}
.slide-btn-parents{    
    position: relative;
}
.slide-button-l,.slide-button-r{
    all: unset;
    font-size: 30px;
    position: absolute;
    top: 43%;
    /* width: 50px;
    height: 50px; */

}
.slide-button-l{
    left: -90px;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-left: 30px solid transparent;
    border-right: 30px solid rgba(87, 83, 83, 0.748);;
}
.slide-button-r{
    right: -90px;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-left: 30px solid rgba(87, 83, 83, 0.748);
    border-right: 30px solid transparent;
}

.movie{
    position: relative;
    padding-right: 60px;
}
.movie-show{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.movie-show > span{
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.hide-part{
    background-color: rgba(0, 0, 0, 0.467);
    position: absolute;
    top: 0;
}
.show-more{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: view 0.3s ease-in-out forwards;
}
@keyframes view{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.show-more >span{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
}
.show-more>button{
    all:unset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 30px;
    border-radius: 30px;
    background-color: white;
    font-weight: 700;
}
.show-more>button>a{
    color: black;
    text-decoration: none;
}
.hidden{
    color: rgba(240, 248, 255, 0);
    animation: hide 0.5s linear forwards;
}
.hidden>button{
    all: unset;
}
.hidden>button>a{
    color: rgba(240, 248, 255, 0);
}
@keyframes hide {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.firstHidden{
    display: none;
}